body {
    background-color: lightgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#click {
    width: 500;
    height: 500;
    font-size: 100px;
    padding: 0;
border: none;
background: none;
}

.shopitem {
    width: 50;
    height: 50;
    font-size: 25px;
    display: block;
    margin-bottom: 10px;
}

.center {
    text-align: center;
}

.right-anchor {
    position: fixed;
    right: 0;
    top: calc(50% - 150px);
    transform: translateY(-50%);
    padding: 20px;
    width: 300px;
    /*  background-color: rgb(173, 189, 189); */
}



.left-anchor {
    position: fixed;
    top: 15%;
    left: 0;
    top: calc(50% - 150px);
    transform: translateY(-50%);
    padding: 20px;
    width: 300px;
 /*  background-color: rgb(173, 189, 189); */
}

